* {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

body {
  background-color: #145912;
}

.title {
  color: #ffffff;
}

.hand {
  margin: auto;
}

.hand ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hand li {
  width: 200px;
  margin: 0 5px;
}

.hand li:hover {
  width: 220px;
}
